version: '3.5'
services:
  web:
     build:
       context: .
       dockerfile: ./binder/Dockerfile
     volumes:
       - ./books:/opt/app/data
       - ./jupyter_notebook_config.py:/etc/jupyter/jupyter_notebook_config.py:ro
     #ports:
     #   - "8885:8888"
     command:
       sage-jupyter
